

*{
    margin: 0%;
    padding: 0%;
          }


       #img{
           position: absolute;
           width: 100%;
           height: 2%;
       }
       .headlist:hover{
           color: crimson;
       }
       .btn:hover{
           background-color: cadetblue;
       }
       .btn1:hover{
           background-color: cadetblue;
       }
       .course:hover{
           background-color: coral;
       }
       .ser:hover{
        background-color: rgb(190, 79, 38);
       }

body{
    font-family: Poppins,sans-serif;
}
#symbol{
    position: absolute;
    margin-top: 1.7%;
    margin-left: .5%;
    
}
.mainlist{
font-family: Poppins,sans-serif;
width: 100%;
height: 1%;
}
.headlist{
float: left;
margin-top: 2%;
margin-left: 2%;
}
.list{
float: right;
margin-top: 2%;
}
.list ul{
list-style-type: none;
}
.list ul li{
display: inline;
padding: 5px;
}
.list a{
text-decoration: none;
color: black;


}
.main{
margin-top: 30px;


} 
#click
{
float:right;
margin: 5px;

}
#click:hover{
    background-color: rgb(238, 130, 58);
}
#log{
  margin-top: 1%;
  margin-bottom: 2%;
  
}
.Sign{
border: none;
outline: none;
width: 5%;
height: 5%;
background-color: white;
border-radius: 20%;
font-family: Poppins,sans-serif;

}
.Log{
border: none;
outline: none;
border-radius: 20%;
border: 1px solid black;
width: 5%;
height: 5%;
background-color: white;
font-family: Poppins,sans-serif; 
}
.image{
float: left;
}
.content .text{
position: absolute;
z-index: 999;
margin: 0 auto;
left: 0;
right: 0;
top: 20%;
text-align: center;
width: 60%;
font-size: 38px;
color: white;
font-family: Poppins,sans-serif;
}


.btn{
border: none;
outline: none;
width: 25%;
height: 60px;
background: #c12127;
border-bottom: solid 5px #fa8717;
}
.btn1{
border: none;
outline: none;
width: 25%;
height: 60px;
background: #e81aa8;
border-bottom: solid 5px #111111;

}
.future{

text-align: center;
font-family: Poppins,sans-serif;
margin-top: 5%;


}
.container {
display: flex;
justify-content: space-around;
margin-top: 2%



}
.listofcourse{
margin: 0 1px;
font-family: Poppins,sans-serif;
padding-top: 5%;
padding-bottom: 10%;

}

#icon{
    margin-left: 15%;
}
.course{
border: none;
outline: none;
width: 70%;
height: 50px;
border: 1px solid black;
border-radius: 20px;

background-color: white;
}
.content .text{

    margin-top: 10%;
}

.content-img{
margin-top: 10%;
}
.container1 img{
height: 50%;
width: 100%;
}
.container1 .texts{
text-align: center;
margin-top: -15%;
color: white;
}

.companylist{
margin-top: 15%;
text-align: center;
font-family: Poppins,sans-serif;
font-size:30px;
font-weight:bold;
}
.border{
border-bottom: 1px solid gray;
margin-top: 5%;
}
.footer{
display: flex;
justify-content: space-around;
}  
.property{
margin: 0 150px; 
line-height: 30px; 
}
.form{
float: left;


}
.Search{
position: absolute;
width: 60%;
height: 6%;
text-align: center;
font-size: 150%;
border: 2px solid rgb(7, 7, 7);
}

.ser{
    margin-left: 64%;
    position: absolute;
    width: 6%;
height: 5.5%;
border:none;
outline: none;
background-color: black;
color: white;
}
.property li{
list-style:none;
}
